section.gallerySmallHome{
    margin-top: 24px;

    .content__gallerySmallHome{
        .content__gallerySmallHome_images{
            display: flex;
            justify-content: space-around;

            img{
                display: flex;
                width: 350px;
                height: 350px;
            }
        }
    }
}






