body {
	font-family: 'Montserrat', sans-serif;
// font-family: 'Open Sans', sans-serif;
}

.container {
	width: 1250px;
	padding: 0 15px;
	box-sizing: border-box;
	margin: 0 auto;
	height: 100%;
}

section{
	width: 1975px;
}
